name: CI
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: volta-cli/action@v4
      - name: Install, link plugin locally, and run
        run: |
          npm ci
          npm link
          npm link lighthouse-plugin-crux
